<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Detalle de ingreso egreso</h4>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Descripción</th>
                            <th>Monto</th>
                            <th>Tipo</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let operation of operations">
                            <td>{{operation.description}}</td>
                            <td>{{operation.amount | currency}}</td>
                            <td [class.text-success]="operation.type == 'ingreso'" [class.text-danger]="operation.type == 'egreso'">
                                {{operation.type}}</td>
                            <td><button class="btn btn-danger" (click)="delete(operation.uid)">Borrar</button></td>
                        </tr>
                    </tbody>

                </table>


            </div>
        </div>
    </div>
</div>
